/* Basic editor styles */
.tiptap {
  @apply mt-5 rounded-lg border border-accent p-6;
}

.tiptap {
  margin-top: 30px !important;
}

:first-child {
  margin-top: 0;
}

.project-details button {
  @apply btn btn-outline btn-sm;
}

.project-details button.is-active {
  @apply btn btn-secondary btn-sm;
}

.project-details hr {
  @apply h-[1px] bg-neutral;
}

.project-details a {
  @apply underline;
}

.project-details ol {
  @apply list-decimal;
}

.project-details ul {
  @apply list-disc;
}

.project-details ul,
.project-details ol {
  @apply mb-3 ml-1 list-inside pb-3;
}

.project-details ul li p,
.project-details ol li p {
  @apply my-1 inline-block;
}

.project-details h1,
.project-details h2,
.project-details h3,
.project-details h4,
.project-details h5,
.project-details h6 {
  @apply text-pretty leading-tight;
}

.project-details h1,
.project-details h2 {
  @apply mb-3 mt-6 font-bold;
}

.project-details h3,
.project-details h4,
.project-details h5,
.project-details h6 {
  @apply mb-2 mt-8 font-semibold;
}

.project-details h1 {
  @apply text-4xl;
}

.project-details h2 {
  @apply text-3xl;
}

.project-details h3 {
  @apply text-2xl;
}

.project-details h4,
.project-details h5,
.project-details h6 {
  @apply text-xl;
}

hr {
  @apply h-[1px] bg-neutral;
}

code {
  @apply rounded-md bg-base-300 px-[0.3em] py-[0.25em] text-sm text-base-content;
}

pre {
  font-family: "JetBrains Mono", monospace;
  @apply mb-6 mt-6 rounded-md bg-neutral p-3 text-neutral-content;
}

pre code {
  @apply bg-transparent p-0 text-sm text-inherit;
}

blockquote {
  @apply mb-6 mt-6 border-l-2 border-accent pl-4;
}
